<div class="modal__container">
  <header class="modal__header">
    Candidate View
  </header>

  <div>
    <pre>
      <code>
        {{ fetchedCandidateDetails?.data }}
      </code>
    </pre>
  </div>
</div>
