<div class="modal__container">
  <header class="modal__header">
    Job Modal
  </header>

  <div>
    <b-tabs pills card vertical class="modal_tab__container">
      <b-tab title="Show Job" active @click.prevent="fetchJobDetails()">
        <div class="modal_content__container">
          <%= erb :'jobs/show' %>
        </div>
      </b-tab>
      <b-tab title="Candidates" @click.prevent="fetchJobCandidates()">
        <div class="modal_content__container">
          <%= erb :'jobs/candidates' %>
        </div>
      </b-tab>
      <b-tab title="Create Candidate"><b-card-text>Create form will be here</b-card-text></b-tab>
    </b-tabs>
  </div>
</div>
