<div>
  <span v-if="fetchingDetails" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  <pre>
    <code>
      {{ fetchedCandidateDetails?.data }}
    </code>
  </pre>
</div>