<div class="employees-table border d-none">
  <div class="row m-0 employees-id pt-2 pb-2 bg-light">
    <div class="col-sm-2 font-weight-bold">ID</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 employees-first_name pt-2 pb-2">
    <div class="col-sm-2 font-weight-bold">First Name</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 employees-last_name pt-2 pb-2 bg-light">
    <div class="col-sm-2 font-weight-bold">Last Name</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 employees-title pt-2 pb-2">
    <div class="col-sm-2 font-weight-bold">Title</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 employees-start_date pt-2 pb-2 bg-light">
    <div class="col-sm-2 font-weight-bold">Start Date</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 employees-end_date pt-2 pb-2">
    <div class="col-sm-2 font-weight-bold">End Date</div>
  </div>
</div>