<div class="hires-table border d-none">
  <div class="row m-0 hires-id pt-2 pb-2 bg-light">
    <div class="col-sm-2 font-weight-bold">ID</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 hires-name pt-2 pb-2">
    <div class="col-sm-2 font-weight-bold">Name</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 hires-role pt-2 pb-2 bg-light">
    <div class="col-sm-2 font-weight-bold">Role</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 hires-status pt-2 pb-2">
    <div class="col-sm-2 font-weight-bold">Status</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 hires-resume pt-2 pb-2 bg-light">
    <div class="col-sm-2 font-weight-bold">Resume</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 hires-date pt-2 pb-2">
    <div class="col-sm-2 font-weight-bold">Date</div>
  </div>
</div>