<div class="jobs-table main_table">
  <b-table
    ref="selectableTable"
    selectable
    select-mode="single"
    striped
    hover
    :items="jobs"
    :fields="jobsFields"
    responsive="sm"
    @row-selected="onRowSelected"
  >
  </b-table>
</div>
