<div class="jobs-table border d-none">
  <div class="row m-0 jobs-id pt-2 pb-2 bg-light">
    <div class="col-sm-2 font-weight-bold">ID</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 jobs-title pt-2 pb-2">
    <div class="col-sm-2 font-weight-bold">Title</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 jobs-description pt-2 pb-2 bg-light">
    <div class="col-sm-2 font-weight-bold">Description</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 jobs-requirements pt-2 pb-2">
    <div class="col-sm-2 font-weight-bold">Requirements</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 jobs-location pt-2 pb-2 bg-light">
    <div class="col-sm-2 font-weight-bold">Location</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 jobs-date pt-2 pb-2">
    <div class="col-sm-2 font-weight-bold">Date</div>
  </div>
</div>