<div class="orgs-table border d-none">
  <div class="row m-0 orgs-manager pt-2 pb-2 bg-light">
    <div class="col-sm-2 font-weight-bold">Manager</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 orgs-team-id pt-2 pb-2">
    <div class="col-sm-2 font-weight-bold">Team ID</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 orgs-headcount pt-2 pb-2 bg-light">
    <div class="col-sm-2 font-weight-bold">Headcount</div>
  </div>
</div>