<div class="panel-table main_table">
  <b-table
    ref="selectableTable"
    selectable
    select-mode="single"
    striped
    hover
    :items="panelTableItems"
    :fields="panelTableFields"
    responsive="sm"
    @row-selected="onPanelRowSelected"
  >
  </b-table>
</div>
