<div class="payrolls-table border d-none">
  <div class="row m-0 payroll-id pt-2 pb-2 bg-light">
    <div class="col-sm-2 font-weight-bold">Payroll ID</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 payroll-check_date pt-2 pb-2">
    <div class="col-sm-2 font-weight-bold">Check Date</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 payroll-pay_period_end_date pt-2 pb-2 bg-light">
    <div class="col-sm-2 font-weight-bold">Pay Period End Date</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 payroll-pay_period_start_date pt-2 pb-2">
    <div class="col-sm-2 font-weight-bold">Pay Period Start Date</div>
  </div>
</div>