<div class="payroll-table border d-none">
  <div class="row m-0 payroll-member-id pt-2 pb-2 bg-light">
    <div class="col-sm-2 font-weight-bold">Member ID</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 payroll-name pt-2 pb-2">
    <div class="col-sm-2 font-weight-bold">Name</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 payroll-birthdate pt-2 pb-2 bg-light">
    <div class="col-sm-2 font-weight-bold">Birthdate</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 payroll-salary pt-2 pb-2">
    <div class="col-sm-2 font-weight-bold">Salary</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 payroll-benefits pt-2 pb-2 bg-light">
    <div class="col-sm-2 font-weight-bold">Benefits</div>
  </div>
  <hr class="m-0">
  <div class="row m-0 payroll-deductions pt-2 pb-2">
    <div class="col-sm-2 font-weight-bold">Deductions</div>
  </div>
</div>