<div class="show-table show_table">
  <b-table
    ref="selectableTable"
    selectable
    select-mode="single"
    striped
    hover
    :items="showTableItems"
    :fields="showTableFields"
    responsive="sm"
  >
  </b-table>
</div>
